<div class="grid-x grid-margin-x" id="login">
  <div class="cell small-4 large-offset-4 marginTop90">
      <form class="log-in-form" id="login-form">
        <h4 class="paddingBottom10">Log in with email account</h4>
        <label>Email
          <input type="email" placeholder="somebody@example.com" id="lg-email">
        </label>
        <label>Password
          <input type="password" placeholder="Password" id="lg-password">
        </label>
        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
        <p><input type="submit" class="button expanded" value="Log in"></input></p>
      </form>
      <p class="text-center marginTop30">Dont's have an account yet? <a href="#" id="openSignup">Signup</a></p>
  </div>
</div>
