<div class="grid-x grid-margin-x" id="login">
  <div class="cell small-4 large-offset-4 marginTop90">
      <form class="log-in-form" id="signup-form">
        <h4 class="paddingBottom10">Register</h4>
        <label>Name
          <input type="text" placeholder="John doe" id="sp-name">
        </label>
        <label>Email
          <input type="email" placeholder="somebody@example.com" id="sp-email">
        </label>
        <label>Password
          <input type="password" placeholder="Password" id="sp-password">
        </label>
        <br/>
        <p><input type="submit" class="button expanded" value="Register"></input></p>
      </form>
      <p class="text-center marginTop30">Already have an account? <a href="javascript:;" id="openLogin">Login</a></p>
  </div>
</div>
