body {
  background: #f9f9f9;
}

.marginTop30 {
  margin-top: 30px;
}

.marginTop45 {
  margin-top: 45px;
}

.marginTop60 {
  margin-top: 60px;
}

.marginTop90 {
  margin-top: 90px;
}

.input-topgap {
  padding-top:10px;
}

.file-upload-cont {
  padding: 60px 60px 40px 60px;
  background: #ffffff;
  border: 1px solid #e2e1e1;
}

#download {
  display: none;
}

#message {
  font-size: 18px;
  margin-top:30px;
}

.log-in-form {
  border: 1px solid #bbb;
  padding: 30px;
  border-radius:3px;
  background: #fff;
}

.paddingBottom10 {
  padding-bottom: 10px;
}

.top-bar, .top-bar ul {
    background-color: #ffffff;
}
